h1{
margin-left: 15rem;
font-size:10vh;
color: red;
}
p{
  background-color: cadetblue;
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: 100;
}